.vscode/*.json
*.dll
*.exe
*.pdb
*.xnb
*.mgcontent
*.cache
*.dylib
*.mgstats
*.so.*
*.nuget.g.*
obj/Debug/net8.0
*.dll
*.mgcontent
GameStateManagementSample/bin/Debug/net8.0-windows/*
GameStateManagementSample/bin/Debug/*
GameStateManagementSample/obj/Debug/*
GameStateManagementSample/obj/Debug/net8.0-windows/GameStateManagementSample.AssemblyInfo.cs
GameStateManagementSample/obj/Debug/net8.0-windows/GameStateManagementSample.csproj.FileListAbsolute.txt
GameStateManagementSample/obj/Debug/net8.0-windows/GameStateManagementSample.GeneratedMSBuildEditorConfig.editorconfig
GameStateManagementSample/obj/project.assets.json
GameStateManagementSample/obj/**
obj/**